$top-bar-color:transparent;
$top-bar-content-color: #fff !important;
$top-bar-color-private-pages: #EFB3AB;
$top-bar-height: 70px;

// Variables For Small Devices
$mini-top-bar-color:#fff !important;
$mini-top-bar-content-color: black !important;

$sidebar-background-color: #ededed;
$sidebar-selected-background-color: #E2E2E2;
$sidebar-text-color: black;
$sidebar-max-width: 250px;
$sidebar-min-width: 60px;
$sidebar-font-size: 15px;
$sidebar-active-max-width: 60px;

$primary-color: $primary-color;

$box-shadow: 0 3px 6px 0 rgba(44, 40, 40, 0.11);
