.thanks {
  height: 100vh;

  ._main_div {
    min-height: fit-content;
    background-color: #fafafa;
    box-shadow: 0 35px 35px 0 rgba(0, 0, 0, 0.15);
    padding: 3%;
    color: black;

    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(44, 40, 40, 0.11);
    background-color: #ffffff;
  }

  h2 {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bolder;
  }

  button {
    background-color: #EF727F;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 40px;
  }

  #remote p,
  #local p {
    text-align: center;
    color: white;
  }

}
