<div class="container thanks">
  <div class="pt-5 text-center">
    <!-- LOGO -->
    <img [src]="globalConfig.logo" width="300px;">
  </div>
  <div class="d-flex justify-content-center pt-5 row">
    <div class="_main_div col-md-5 col-sm-5 col-xs-12 p-0 text-center">
      <h2 class="m-0 p-4 text-center">
        Thank you! Your call has now ended.
      </h2>
      <hr style="border-bottom: 1px solid #fbfbfb;">
      <button class="sass-btn mb-3" (click)="rejoin()">
        Rejoin
      </button>
    </div>
  </div>
</div>
